/* main page starts */


/* upper section starts */

.advantage {
    display: flex;
    margin: 4px 0;
    align-items: center;
}

.advantage span {
    text-align: center;
}

.advantage img {
    padding-right: 10px;
    padding-left: 82px;
}

.advantage img:nth-child(1) {
    width: 24px;
    height: 28px;
}

.advantage img:nth-child(2) {
    width: 28px;
    height: 28px;
}

.advantage img:nth-child(3) {
    width: 24px;
    height: 30px;
}

.mainpage {
    display: flex;
    flex-direction: column;
    background: url(../assets/img/mainpage/main-background/background.png) no-repeat center center;
    padding: 0 20px;
    padding-top: 207px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainpage .center {
    margin: 0 auto;
    width: 100%;
    max-width: 769px;
    display: flex;
    flex-direction: column;
}

.slogan {
    background: rgba( 0, 0, 0, 0.21);
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    color: white;
    font-size: 30px;
    align-self: start;
    padding: 5px 25px 5px 20px;
}

.slogan h1 {
    font-size: 92px;
    padding: 0;
    margin: 0;
    font-weight: normal;
}


/*partners start*/

.our-partners h2 {
    font-size: 60px;
    font-family: Vera Crouz;
    font-weight: 200;
    text-align: center;
    margin-top: 90px;
    color: white;
}

.partners-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 769px;
    max-height: 390px;
    padding: 0;
}

.partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    margin-bottom: 80px;
    width: 200px;
    height: 60px;
    flex-basis: 40%;
}

.img-partners {
    width: 200px;
    height: 60px;
}


/*partners end*/


/* Upper section ends */


/*Upper section tablet*/

@media screen and (max-width: 769px) {
    .mainpage {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }
    .mainpage .center {
        width: auto;
        display: block;
        margin: 0;
    }
    .advantages {
        margin: 15px 0;
        margin-right: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .advantage {
        padding: 2px 0;
        margin: 0;
        display: block;
    }
    .advantage img {
        width: 18px;
        height: 18px;
        padding-right: 10px;
        padding-left: 0;
    }
    .advantage img:nth-child(1) {
        width: 16px;
        height: 19px;
    }
    .advantage img:nth-child(2) {
        width: 17px;
        height: 17px;
    }
    .advantage img:nth-child(3) {
        width: 15px;
        height: 19px;
    }
    .slogan {
        background: rgba( 0, 0, 0, 0.21);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 18px;
        margin: 0;
        color: white;
    }
    .slogan h1 {
        font-size: 72px;
        margin-left: 20px;
        margin-top: auto;
        margin-bottom: 5px;
    }
    .our-partners h2 {
        font-size: 48px;
        text-align: center;
        margin-bottom: 25px;
        margin-top: 45px;
        margin-left: 0;
        color: white;
    }
    .partners-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        max-height: none;
        max-width: none;
    }
    .partners {
        display: flex;
        flex-basis: 35%;
        padding: 0;
        margin: 0 6px;
        margin-bottom: 30px;
    }
}


/* Upper section mobile */

@media screen and (max-width: 480px) {
    .mainpage {
        align-items: center;
        background: url(../assets/img/mainpage/main-background/background-smartphone.png) no-repeat center center;
        background-size: cover;
    }
    .slogan {
        flex-direction: column;
        flex-wrap: wrap;
        /* align-items: center; */
        width: auto;
        padding: 0;
        padding-top: 5px;
        padding-bottom: 20px;
        margin: 0;
    }
    .slogan h1 {
        text-align: left;
    }
    .advantages {
        margin: 0;
        margin-left: 100px;
        margin-right: 20px;
    }
    .advantage {
        display: flex;
    }
    .advantage img {
        padding-right: 10px;
    }
    .our-partners h2 {
        margin: 0;
    }
    .partners {
        flex-basis: 100%;
        margin-bottom: 10px;
    }
}


/* slider starts */

.slider-decoration {
    display: flex;
    justify-content: center;
    background: url(../assets/img/mainpage/slider/Decoration.png) center center no-repeat;
    padding: 65px 0;
}

.slider {
    display: flex;
    max-width: 769px;
    width: 100%;
}

.slider__item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.slider__item .slider-fix {
    flex-grow: 1;
    transition-property: transform;
    transition: 0.3s;
}

.slider__item:hover .slider-fix{
    transform: scale(0.95);
    transition-duration: 0.3s;
    transition-property: transform;
    background-color: #484848;
}

.slider__content {
    background-color: #495257;
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    margin: 0 10px;
    border-radius: 10px;
}

.slider-fix {
    background: #212121;
    display: flex;
    text-decoration: none;
    text-align: center;
    flex-direction: column;
    position: relative;
    padding: 10px 20px 20px 20px;
    margin: 10px 20px;
    border-radius: 10px;
}

.slider-fix .item__line {
    transition: 0.3s;
}

.slider__item:hover .item__line {
    transition: 0.3s;
    transform: scale(0.6);
}

.slider-decoration .item__new-icon {
    z-index: 1;
    width: 66px;
    height: 66px;
    top: 10px;
    right: 20px;
    position: absolute;
    background: url(../assets/img/mainpage/slider/new.svg) no-repeat;
    transform: rotate(45deg);
}

.circle {
    display: flex;
    justify-content: center;
    width: 235px;
    height: 225px;
    background: white;
    border-radius: 50%;
    align-items: center;
    overflow: hidden;
    margin: 35px 77px;
}

.pen-icon {
    height: 160px;
    width: 160px;
}

.item__bottom-row {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    color: white;
}

.item__name {
    flex-basis: 100%;
}

.item__line {
    height: 2px;
    background-color: white;
    margin: 5px 0 5px 0;
    flex-grow: 1;
    flex-basis: 100%;
}

.item__price {
    flex-basis: 100%;
}

.slider button {
    align-self: center;
    flex-shrink: 0;
    border: 0;
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.slider button svg {
    width: 60px;
    height: 90px;
}

.slider__leftButton {
    margin: 0 15px;
    color: white;
}

.slider__rightButton {
    margin: 0 15px;
    color: white;
}


/* slider ends */

@media (max-width: 769px) {
    .slider-decoration {
        background: url(../assets/img/mainpage/slider/Decoration-smartphone.png) no-repeat center center;
        padding: 10px 20px;
    }
    .slider {
        width: 100%;
    }
    .slider__content {
        margin: 0 10px;
    }
    .circle {
        width: 160px;
        height: 155px;
        margin: 10px 20px 0 20px;
    }
    .pen-icon {
        width: 110px;
        height: auto;
    }
    .slider-decoration .item__new-icon {
        z-index: 1;
        width: 37px;
        height: 37px;
        top: 10px;
        right: 10px;
        position: absolute;
        background: url(../assets/img/mainpage/slider/new.svg) no-repeat;
        transform: rotate(45deg);
    }
    .slider-fix {
        margin: 5px;
        padding-bottom: 10px;
    }
    .item__bottom-row {
        font-size: 14px;
    }
    .slider button svg {
        width: 40px;
        height: 75px;
    }
}

@media (max-width: 480px) {
    .slider {
        padding: 20px 0;
    }
    .slider__content {
        margin: 0 5px;
    }
    .slider-fix {
        padding: 10px 30px;
    }
    .circle {
        width: 90px;
        height: 90px;
        margin: 0;
    }
    .pen-icon {
        width: 60px;
        height: 60px;
    }
    .slider-decoration .item__new-icon {
        top: -5px;
        right: -5px;
    }
    .slider button svg {
        width: 30px;
        height: 60px;
    }
    .slider__item .slider-fix {
        justify-content: space-between;
    }
}


/* main page ends */