.modal-log-reg{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  z-index: 999;
  overflow-y: scroll;
  background: rgba(59, 59, 59, 0.82);
}

.invisible {
  display: none;
}

.background{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow-y: auto;
}

.modal-log-reg-container{
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  color: #cdb67c;
  margin: auto 62px;
  width: 100%;
  max-width: 769px;
}

.form-wrapper {
  background-color: #212121;
  z-index: 2;
}

.modal-header {
  align-self: flex-start;
  display: flex;
  justify-content: flex-start;
  z-index: 2;
}

.modal-header .login-btn,
.modal-header .registration-btn {
  cursor: pointer;
  border: 0;
  background-color: #212121;
  padding: 15px 50px;
  outline: none;
  opacity: 0.7;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.form-container {
  /* Изначально выключен, включается при нажатии на кнопки переключения окон регистрации/авторизации */
  display: none;
  padding: 50px 82px;
}

.modal-log-reg-container.js-inLogin .login-btn {
  opacity: 1;
}

.modal-log-reg-container.js-inReg .registration-btn {
  opacity: 1;
}

.modal-log-reg-container.js-inLogin .form-container.login-container {
  display: block;
}

.modal-log-reg-container.js-inReg .form-container.reg-container {
  display: block;
} 

.modal-reg{
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.modal-login{
  margin-top: 134px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.registration-field {
  color: #b6b6b6;
  font-size: 16px;
  font-weight: 400;
}

.modal-log-reg input[type="text"],
input[type="password"] {
  flex-basis: 100%;
  flex-grow: 1;
  background: 0;
  border: 0;
  outline: none;
  margin: 15px 0;
  padding: 5px 16px;
  border-bottom: 1px solid white;
  transition: 0.3s;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
}

.modal-log-reg input[type="text"]:focus,
.modal-log-reg input[type="password"]:focus {
  border-bottom: 2px solid rgba(205, 182, 124, 0.67);
}

.modal-log-reg input[type="text"]::placeholder,
.modal-log-reg input[type="password"]::placeholder {
  color: #b6b6b6;
}

.form-container .login-btn:hover,
.form-container .registration-btn:hover {
  border: none;
  color: #212121;
  background-color: #cdb67c;
}

.login{
  cursor: pointer;
  margin: 138px 0 70px 0;
  padding: 15px 50px;
  color: #cdb67c;
  font-size: 18px;
  font-weight: 400;
  border-radius: 20px;
  border: 1px solid #cdb67c;
  background-color: transparent;
}
.registration {
  cursor: pointer;
  margin-top: calc(52px - 15px);
  padding: 15px 50px;
  color: #cdb67c;
  font-size: 18px;
  font-weight: 400;
  border-radius: 20px;
  border: 1px solid #cdb67c;
  background-color: transparent;
}

.modal-errors {
  color: red;
  font-size: 20px;
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 40px;
}
.modal-prompt{
  display: flex;
  flex-basis: 100%;
}
[data-tooltip] {
  position: relative;
 }
[data-tooltip]::after {
  content: attr(data-tooltip); 
  position: absolute;
  width: 150px;
  left: 0;
  top: 0;
  padding: 0.5em;
  pointer-events: none; 
  opacity: 0;
  transition: 1s; 
  font-size: 18px;
  color: #ff6666;
} 
[data-tooltip]:hover::after {
  opacity: 1; 
  left: 65%;
}

@media (max-width: 769px){
  .modal-log-reg-container {
    margin: auto 20px;
  }
  .form-container {
    padding: 50px 40px;
  }
}

@media (max-width: 480px){
  .modal-header {
    align-self: auto;
  }
  .modal-header .login-btn,
  .modal-header .registration-btn {
    width: 50%;
    padding: 15px;
  }
  .modal-log-reg-container {
    margin: auto 10px;
  }
  .form-container {
    padding: 50px 30px;
  }
  [data-tooltip]:hover::after {
    top: -25%;
    left: -5%;
  }
}