*{
    padding: 0;
    margin: 0; 
} 

body{
    margin: 0;
    background-color: rgb(48, 48, 48);
    font-family: "Caviar Dreams";
    
}
.main-container{
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
}
.container{
    max-width: 764px;
    margin: 0px auto;
   
}

.product{
    color: #ffffff;
    font-style: 18px;
    display: flex;
    flex-wrap: wrap;
}
.product-img-container{
    display: flex;
    position: relative;
    align-self: start;
}
.product-img-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: white;
    border-radius: 50%;  
    overflow: hidden;
    
}
.product-img{
    width: 200px;
    height: 200px;
}
.like{
    background: url(../img/heart.svg) no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
}

.characteristics{
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    flex-basis: 30%;
}

table{
   
    width: 100%;
}

td {
    padding-top: 20px;
    padding-left: 5px;
    text-align: left;
    font-size: 18px;
}

.name{
    font-size: 48px;
    color: #cdb67c;
    order: 1;
}

.colortext{
    background-color: #484848;
    color: white;
    border: 1px solid #cdb67c;
}

.purchase-form{
    font-size: 24px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    /* display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px; */
}
.buy{
    font-size: 24px;
    border-radius: 30px;
    text-align: center;
    width: 170px;
    height: 64px;
    background-color: #212121;
    color: #cdb67c;
    border: 1px solid #cdb67c;
    font-family: "Caviar Dreams";
}

.quantity-wrapper{
    align-self:center;
}
.price{
    align-self:center;
}

.description-wrapper{
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.description{
    font-size: 24px;
}
.content-description{
    margin-top: 20px;
    font-size: 18px;
}

@media screen and (max-width: 480px){
    .product-img-container{
        height: 190px;
        width: 190px;
    } 
    .product-img-wrapper{
        height: 190px;
        width: 190px;
    }
    .product-img{
        height: 130px;
        width: 130px;
    }
    .like{
        height: 27px;
        width: 27px;
    }
    .name{
        font-size: 30px;
    }
    td{
        padding-top: 15px;
        font-size: 14px;
        padding-left: 0;
    }
    .characteristics{
        margin-left: 10px;
        max-width: 240px;
    }
    table{
        width: 100%;
    }
    /* .quantity{
        font-size: 18px;
        margin-left: -35%;
    }
    .price{
        font-size: 18px;
        margin-top: -25%;
    }
    .price-wrapper{
        flex: 0 1 30%;
        margin-top: -30%;
        align-self: center;
    }
    .purchase-form{
        padding: 0;
    } */
    .price{
        font-size: 18px;
        position: relative;
        bottom: 85px;
    }
    .quantity-wrapper{
        font-size: 18px;
        position: relative;
        bottom: 50px;
        right: 293px;
    }
    .buy{
        margin: auto;
    }
    .purchase-form{
        margin: 0;
    }
}

/* modal starts */

.purchase-modal {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.purchase-modal_hidden {
    display: none;
}

.purchase-modal .background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(59, 59, 59, 0.82);
    z-index: 998;
}

.purchase-modal .form-container {
    max-width: 769px;
    margin: 0 20px;
    background-color: #212121;
    z-index: 999;
}

.purchase-modal .caption {
    font-size: 24px;
    padding: 20px 0;
    font-weight: normal;
    text-align: center;
    color: #cdb67c;
}

.purchase-form-modal__inputs{
    margin: 0 62px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.purchase-form-modal__inputs input {
    flex-basis: 100%;
    flex-grow: 1;
    background: 0;
    border: 0;
    outline: none;
    margin: 12px 0;
    padding: 5px 16px;
    border-bottom: 1px solid white;
    font-size: 18px;
    color: white;
    font-weight: normal;
}

.purchase-form-modal__inputs input:focus {
    border-color: #ddcea7;
    
}

.purchase-form-modal__inputs .bottom-row {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;
}

.purchase-form-modal__price-container {
    color: white;
    font-size: 18px;
}

.purchase-form-modal__quantity-container {
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
    font-family: "Caviar Dreams";
}

.bottom-row .purchase-form-modal__quantity {
    font-family: "Caviar Dreams";
    width: 50px;
}

.purchase-form-modal__quantity::-webkit-outer-spin-button,
.purchase-form-modal__quantity::-webkit-inner-spin-button {
    display: none;
}

.bottom-row .purchase-btn {
    color: #cdb67c;
    background: #cdb67c;
    font: 18px "Caviar Dreams";
    border: 1px solid #cdb67c;
    background-color: #212121;
    border-radius: 35px;
    padding: 20px 15px;
    /* margin: 30px 0 10px 0; */
}

.bottom-row .purchase-btn:hover {
    border-color: none;
    color: #212121;
    background-color: #cdb67c;
  }

/* Отключение жетлого фона при автозаполнении формы (найдено в интернете) */

/* modal ends */