body {
    margin:0;
    font-family: "Caviar Dreams";
}
/* header */

.header{
    position:sticky;
    top:0;
    background-color:#212121;
    display: flex;
    padding:0 20px;
    justify-content: center;
    z-index: 1;
}
.wrapper {
    display: flex;
    max-width:764px;
    flex-grow: 1;
    justify-content: space-between;
}
.header ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.header a,
.header a:visited{
    text-decoration: none;
    font-size: 18px;
    color:white;
}
.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 17px 0;
}
.logoimg {
    cursor: pointer;
    height: 55px;
    width: 170px;
} 
.headernav {
    display: flex;
}
.headernav .navlink{
    display: flex;
    width:100%;
    justify-content: space-between;
}
.navlink-item{
    display: flex;
    font-size: 18px;
    align-items: center;
    list-style-type: none;
    cursor:pointer;
    color:white;
    padding: 0 20px;
    text-align: center;
    background-color: #212121;
}
.navlink-item_dropdown{
    position: relative;
}
.navlink-item:hover{
    background-color: #7c7c7c;
}

.navlink-item_dropdown:hover > .dropdown-menu{
    display: flex;
    flex-direction: column;
    cursor:pointer;
}

.navlink-item_dropdown:hover {
    background: #212121;
    cursor: unset;
}

/* Для нормального отображения у пользователей с короткими именами */
.username {
    min-width: 130px;
}

/* dropdownd-menu starts */

.header .dropdown-menu{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    min-width:100%;
    background:rgba(59, 59, 59, 0.37);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.53);
    z-index: -1; /* z-index -1 Для отображения тени под header'ом */
}

.header .dropdown-menu:hover {
    z-index: -1;
}

.dropdown-menu-item {
    padding: 15px 10px;
}

.dropdown-menu-item:hover {
    background: rgba(33, 33, 33, 0.66);
}

.dropdown-menu-link{
    display: flex;
    align-items:center;
}

.icon-wrapper {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    flex-basis: 25%;
    padding-right: 10px;
}

.my-orders-icon{
    background:url(../assets/img/icons/my-orders-icon.png) no-repeat;
    width: 35px;
    height: 27px;
}
.favorites-icon{
    background:url(../assets/img/icons/favorites-icon.png) no-repeat;
    width: 25px;
    height: 23px;
}
.exit-icon{
    background: url(../assets/img/icons/exit-icon.png) no-repeat;
    width: 25px;
    height: 23px;
}

/* dropdown menu ends */

.burger-menu input[type="checkbox"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
    z-index: -100;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
}

.burger-menu-nav-wrapper{
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    opacity: 0;
    background-color: #212121;
    height: 100vh;
    z-index: 2;
    transition: 0.3s;
}

.burger-menu-nav {
    padding-top: 92px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.burger-menu-nav a {
    padding: 15px 0;
}

/* от 769px до 480 - планшет */ 

@media screen and (max-width: 769px) {

    /* dropdown menu starts */

    .header .dropdown-menu {
        box-shadow: 0 0 7px rgba(53, 53, 53, 0.87);
        background: rgba(33, 33, 33, 0.8);
    }

    .dropdown-menu-item:hover {
        background-color: #7c7c7c;
    }

    .navlink-item_dropdown:hover {
        background: #212121;
    }

    /* dropdown menu ends */

    .navlink-item {
        display: none;
    }
    .navlink-item.navlink-item_dropdown {
        display: flex;
    }

    /* burger menu starts */

    .burger-menu {
        display: flex;
        align-items: flex-end;
        margin: auto 10px auto 0;
    }

    .burger-menu-button {
        display: block;
        width: 35px;
        height: 25px;
        position: relative;
        cursor: pointer;
        z-index: 3;
    }

    /* burger menu animation starts */

    /* Центральная линия */
    .burger-menu-button-icon {
        width: 100%;
        position: absolute;
        top: 10px;
        left: 0; 
        height: 3px;
        background-color: white;
        border-radius: 1px;
    }

    /* Нижняя линия */
    .burger-menu-button-icon::after {
        content: "";
        position: absolute;
        top: -10px;
        left: 0; 
        display: block;
        width: 100%;
        background-color: white;
        height: 3px;
        border-radius: 1px;
        transition: 0.3s;
    }

    /* Верхняя линия */
    .burger-menu-button-icon::before {
        content: "";
        position: absolute;
        top: 10px;
        left: 0;
        display: block;
        width: 100%;
        background-color: white;
        height: 3px;
        border-radius: 1px;
        transition: 0.3s;
    }

    .burger-menu-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        background: #3b3b3b;
        opacity: 0.82;
        transition: 0.3s;
        transition-property: width;
        z-index: 1;
        cursor: pointer;
    }

    /* Исчезает центральная линия */
    .burger-menu input[type="checkbox"]:checked + .burger-menu-button .burger-menu-button-icon {
        background: 0;
        transition: 0.2s;
    }

    /* Нижняя линия поворачивается и располагается в центре */
    .burger-menu input[type="checkbox"]:checked + .burger-menu-button .burger-menu-button-icon::after {
        transform: rotate(45deg);
        top: 0;
        transition: 0.3s;
    }

    /* Верхняя линия */
    .burger-menu input[type="checkbox"]:checked + .burger-menu-button .burger-menu-button-icon::before {
        transform: rotate(-45deg);
        top: 0;
        transition: 0.3s;
    }

    /* Появляется активная часть меню */
    .burger-menu input[type="checkbox"]:checked ~ .burger-menu-nav-wrapper {
        position: absolute;
        opacity: 1;
        background-color: #212121;
        width: 44%;
        overflow-y: hidden
    }

    /* Появляется бекграунд */
    .burger-menu input[type="checkbox"]:checked ~ .burger-menu-background {
        width: 100%;
        height: 100vh;
        overflow-y: hidden
    }

    .burger-menu-nav a:hover{
        background-color: #7c7c7c;
    }

    /* burger menu animation ends */
}

/* от 480px и ниже - телефон */

@media screen and (max-width: 480px) {
    .header {
        padding: 0 10px;
    }

    .logoimg {
        width: 100px;
    }

    .burger-menu-button {
        width: 30px;
    }

    .burger-menu input[type="checkbox"]:checked ~ .burger-menu-nav-wrapper {
        width: 65%;
    }

    .headernav .icon-wrapper{
        display: none;
    }

    /* Текущая максимальная длина имени 11 символов без переносов */
    .headernav .username {
        min-width: 125px;
    }

    .headernav .dropdown-menu {
        width: 100%;
    }

    .navlink-item_dropdown {
        padding: 0;
    }

    .headernav .dropdown-menu-link {
        display: flex;
        justify-content: center;
        padding: 0;
    }
}

/* header */

/* header */


/* main page */
.advantage{
    margin: 10px 0 0 0;
    display: flex;
}
.advantage img{
    padding-right: 10px;
    padding-left: 82px;
}
.mainpage{
    background: url(../assets/img/main-icon/main.svg) no-repeat;
    padding:0 20px;
    padding-top:207px;
}
.slogan{
    background: rgba( 0, 0, 0, 0.21);
    width:50%;
    display: flex;
    flex-direction: column;
    margin-left: 42px;
    color:white;
}
.slogan h1{
    font-size: 92px;
    padding: 0;
    margin: 0;
    font-weight:normal;
}

/*partners*/

.our-partners h2{
    font-size: 60px;
    font-family: "Vera Crouz";
    font-weight:200;
    text-align: center;
    color:white;
}
.partners-wrapper{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    max-width: 769px;
    max-height: 390px;
    padding:0;
}
.partners{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:0 20px;
    margin-bottom:80px;
    width:200px;
    height: 60px;
    flex-basis: 40%;
}
.img-partners{
    width:200px;
    height:60px;
}

/*adaptive*/

@media screen and (max-width: 768px){
   
    .mainpage{
        background: url(../assets/img/main-icon/main.svg) no-repeat;
        display: flex;
        flex-direction: column;
        padding-top:20px;
    }
    
    .advantages{
        margin:15px 0;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .advantage{
        padding:2px 0;
        margin:0;
        display: block;
    }
    .advantage img{
        width: 18px;
        height: 18px;
        padding-right: 10px;
        padding-left: 0;
    }
    .slogan{
        background: rgba( 0, 0, 0, 0.21);
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        color:white;
    }
    .slogan h1{
        font-size: 72px;
        margin-left: 20px;
        margin-top:auto;
        margin-bottom: 5px;
    }

    .our-partners h2{
        font-size: 48px;
        font-family: "Vera Crouz";
        text-align: center;
        margin-bottom: 25px;
        margin-top:45px;
        font-weight:400;
        margin-left: 0;
        color:white;
    }
    .partners-wrapper{
        display: flex;
        flex-direction: row;
        align-items:center;
        width: 100%;
        height: 100%;
        margin:0;
        padding:0;
    }
    .partners{
        display: flex;
        flex-basis: 35%;
        padding:0;
        margin:0 6px;
        margin-bottom:30px;
    }
    .img-partners{
        width:200px;
        height:60px;
    }
}
@media screen and (max-width: 480px){
    .slogan{
        flex-direction: column;
    }
    .slogan h1{
        text-align: left;
    }
    .advantages{
        margin: 0;
    }
    .advantage{
        display: flex;
        margin: 10px 0 0 0;
    }
    .advantage img{
        padding-right: 10px;
        padding-left: 110px;
    }
   .partners{
       flex-basis: 100%;
   }
}



/* main page */

/* slider */


.slider-decoration{
    background: url(../assets/img/slider/Decoration.png) no-repeat;
    height:530px;
    padding-top:65px;
}
/* .item__upper-row{
    background: #212121;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .item__new-icon {
    width: 66px;
    height: 66px;
    margin-left: 150px;
    background: url(../assets/img/slider/new.svg) no-repeat;
    transform: rotate(45deg);
  } */
  .ics{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.new-icon{
    width: 66px;
    height: 66px;
    margin-left: 150px;
    transform: rotate(45deg);
}
.circle{
    display: flex;
    justify-content: center;
    width: 235px; 
    height: 225px;
    background: white;
    border-radius: 50%;
    align-items: center;
    overflow: hidden;
    margin-bottom: 40px;
}

.slider-fix{
    background:#212121;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
}
.pen-icon{
    height:160px;
    width: 160px;
}
svg{
    width: 50px;
    height: 90px;
}

button{
	border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
.slider{
    display: flex;
}

.slider button{
	align-self: center;
    flex-shrink: 0;
    border:0;
}

.slider__leftButton{
    margin-right: 20px;
    color:white;
}

.slider__rightButton{
    margin-left: 20px;
    color:white;
}

.slider__content{
	flex-grow: 1;
	display: flex;
	overflow: hidden;
	padding: 0 3px; /* Для нормального отображения боковых полосок*/
}

.slider__item{
    min-width: 390px;
    min-height: 390px;
    text-align: center;
    flex-grow: 1;
    flex-basis: 100%;
}





/*Полоски у элиментов*/

.slider__item::before,
.slider__item::after{
	content: "";
	position: absolute;
	display: block;
	height: 100%;
	background-color: #495257;
	width: 40px; /*Ширина отступов*/
}

 .slider__item::before{
	top: 0;
	right: calc(100% - 3px);
}

.slider__item::after{
	top: 0;
	left: calc(100% - 10px);
} 
/*Полоски у элиментов*/



.slider__item a{
	display: flex;
	flex-direction: column;
    height: 100%;
}
/* 
.item__bottom-row{
    margin-top: 40px;
    margin-bottom: 10px;
    color:white;
  } */

  .item__name {
    font-size: 18px;
    color:white;
  }

  .item__line {
    width: 90%;
    height: 2px;
    background-color: white;
    margin: 5px 0 5px 0;
  }

  .item__price {
    font-size: 18px;
    color:white;
  }
@media (max-width: 320px) {
	body{
		margin: 0;
	}

	 /*Header starts */

	header{
		justify-content: space-around;
	}

	.header-top h1{
		display: none;
	}

	.logo{
		flex-grow: 1;
	}

	.header-bottom{
		display: none;
		/* Для анимации по нажатию */
	}

	.header-bottom>ul{
		flex-direction: column;
	}

	.header-bottom>ul>li{
		padding: 5px 0;
	}

	.unwrappable{
		cursor: pointer;
	}

	.unwrappable>ul{
		position: static;
		background: none;
		padding: 0;
	}

	.unwrappable>ul a{
		color: black;
	}


	.unwrappable:hover>ul{ /*Запрещаем разворачивающимся элементам разворачиватся по наведению на телефоне*/
		display: none;
	}

	.burger-menu-btn{
		display: block;
		width: 100px;
	}

	/* Main starts*/ 

	.nav-big{
		flex-direction: column;
		margin: 0 10%;
	}

	.nav-big__element img {
		width: 30%;
    }
    
	.nav-big__element h2{
		font-size: 8vw;
    }
    
	.imgs{
		margin: 0 10%;
    }
    
	.imgs__item{
		max-width: 100%;
    }
    
    .news h2{
        display: block;
        margin: 10px 0;
    }

    .slider{
    margin: 0;
    }

.slider__item{
    min-width: 100%;    
    }

@keyframes grow{
    from {
        transform: scale(0);
        transform-origin: top left;
    }
    to{
        transform: scale(1);
        transform-origin: top;
        animation-timing-function: ease-out;
    }
}

@keyframes growDown{
    from {
        display: none;
        opacity: 0; 
        transform-origin: top; 
        transform: scaleY(0) translateY(-1000px);
    }
    1%{
        display: block;
    }
    to{
        transform: scaleY(1) translateY(0);
        opacity: 1; 
        transform-origin: top;
        animation-timing-function: ease-in-out;
    }
}

/* slider */