*{
    padding: 0;
    margin: 0; 
} 

body{
    margin: 0;
    background-color: rgb(48, 48, 48);
    font-family: "Caviar Dreams";
    
}
.main-container{
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
}
.container{
    max-width: 769px;
    margin: 0px auto;
   
}

.product{
    color: #ffffff;
    font-style: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product-img-container{
    display: flex;
    position: relative;
    align-self: center;
}
.product-img-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 50%;  
    overflow: hidden;
    
}
.product-img{
    width: 200px;
    height: 200px;
}
.like{
    background: url(../img/heart.svg) no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
}

.characteristics{
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
}

table{
    width: 100%;
}

td:first-child{
    width: 228px;
}

td {
    padding-top: 20px;
    text-align: left;
    font-size: 18px;
}
tr{
    padding: 10px;
}


.name{
    font-size: 48px;
    color: #cdb67c;
    order: -1;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.colortext{
    background-color: #484848;
    color: white;
    border: 1px solid #cdb67c;
}

.purchase-form{
    font-size: 24px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    /* display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px; */
}
.buy{
    font-size: 24px;
    border-radius: 30px;
    text-align: center;
    width: 166px;
    height: 64px;
    background-color: #212121;
    color: #cdb67c;
    border: 1px solid #cdb67c;
    
    font-family: "Caviar Dreams";
}

.quantity-wrapper{
    align-self:center;
    margin: 20px 20px 20px 20px;
}
.price{
    align-self:center;
}

.description-wrapper{
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.description{
    font-size: 24px;
}
.content-description{
    margin-top: 20px;
    font-size: 18px;
}

@media screen and (max-width: 769px) and (min-width: 480px){
    .product-img-container{
        height: 190px;
        width: 190px;
    } 
    .product-img-wrapper{
        height: 190px;
        width: 190px;
    }
    .product-img{
        height: 130px;
        width: 130px;
    }
    .like{
        height: 27px;
        width: 27px;
    }
    .name{
        font-size: 30px;
        margin: 0;
    }
    td{
        padding-top: 15px;
        font-size: 14px;
       
    }
    .characteristics{
        margin-left: 10px;
        max-width: 240px;
    }
    td:first-child{
        width: 140px;
    }
    /* .quantity{
        font-size: 18px;
        margin-left: -35%;
    }
    .price{
        font-size: 18px;
        margin-top: -25%;
    }
    .price-wrapper{
        flex: 0 1 30%;
        margin-top: -30%;
        align-self: center;
    }
    .purchase-form{
        padding: 0;
    } */
    .price{
        font-size: 18px;
    }
    .quantity-wrapper{
        font-size: 18px;
    }
}

@media screen  and (max-width: 480px){
    .name{
        font-size: 30px;
    }
    .product-img-container{
        height: 190px;
        width: 190px;
    } 
    .product-img-wrapper{
        height: 190px;
        width: 190px;
    }
    .product-img{
        height: 126px;
        width: 122px;
    }
    .like{
        height: 27px;
        width: 27px;
    }
    td:first-child{
        width: 130px;
    }
    td{
        padding-top: 15px;
        font-size: 14px;
       
    }
    .characteristics{
        margin-left: 0;
        max-width: 240px;
    }
    .buy{
        width: 180px;
        font-size: 24px;
    }
    .quantity-wrapper{
        margin: 20px 0 20px 20px;
        font-size: 18px;
    }
    .price{
        font-size: 18px;
    }
}